$gutter: 15px;

.neg section {
  margin: 0 -($gutter / 2);
}

div {
  $sizes: 100px 200px 300px;
  $length: length($sizes);

  margin: 0 ($gutter / 2);

  @for $i from 1 through $length {
    &:nth-child(#{$length}n + #{$i}) {
      width:
        sizes($sizes)
        pluck($i)
        gutter($gutter)
        technique(negative-margin)
      ;
    }
  }
}
