.neg section {
  margin: -7.5px;
}

div {
  margin: 0 7.5px;
}

div:nth-child(3n + 1) {
  width: sizes(100px 200px 300px) pluck(1) gutter(15px) technique(negative-margin);
}

div:nth-child(3n + 2) {
  width: sizes(100px 200px 300px) pluck(2) gutter(15px) technique(negative-margin);
}

div:nth-child(3n + 3) {
  width: sizes(100px 200px 300px) pluck(3) gutter(15px) technique(negative-margin);
}
