* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  color: darken(dodgerblue, 15%);
  font-size: 12px;
  font-weight: bold;
}

body {
  padding: 30px;

  > * * {
    background: rgba(dodgerblue, .66);
    outline: 1px solid rgba(dodgerblue, .75);
    outline-offset: -1px;
  }
}

hr {
  width: 100vw;
  margin: 30px 0 30px -30px;
  height: 1px;
  background: darken(white, 10%);
  border: 0;
}
