* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  color: #006ad1;
  font-size: 12px;
  font-weight: bold;
}

body {
  padding: 30px;
}

body > * * {
  background: rgba(30, 144, 255, 0.66);
  outline: 1px solid rgba(30, 144, 255, 0.75);
  outline-offset: -1px;
}

hr {
  width: 100vw;
  margin: 30px 0 30px -30px;
  height: 1px;
  background: #e6e6e6;
  border: 0;
}

.basic {
  display: flex;
  flex-wrap: wrap;
}

.basic > *:nth-child(n) {
  width: auto;
  margin-left: 30px;
}

.basic > *:nth-child(3n + 1),
.basic > *:nth-child(3n + 3) {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
}

.basic > *:nth-child(3n + 2) {
  width: calc(((99.99% - (99.99% * 0.5 - (30px - 30px * 0.5))) / 1) - 30px);
}

.basic > *:nth-child(3n + 1) {
  margin-left: 0;
}

.responsive > * {
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .responsive {
    display: flex;
    flex-wrap: wrap;
  }
  .responsive > *:nth-child(n) {
    width: auto;
    margin-left: 30px;
  }
  .responsive > *:nth-child(2n + 1) {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  }
  .responsive > *:nth-child(2n + 2) {
    width: calc(99.99% * 2/3 - (30px - 30px * 2/3));
  }
  .responsive > *:nth-child(2n + 1) {
    margin-left: 0;
  }
  .responsive {
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .responsive {
    display: flex;
    flex-wrap: wrap;
  }
  .responsive > *:nth-child(n) {
    width: auto;
    margin-left: 30px;
  }
  .responsive > *:nth-child(2n + 1) {
    width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  }
  .responsive > *:nth-child(2n + 2) {
    width: calc(99.99% * 3/4 - (30px - 30px * 3/4));
  }
  .responsive > *:nth-child(2n + 1) {
    margin-left: 0;
  }
  .responsive aside {
    position: relative;
    left: calc((99.99% * 3/4 - (30px - 30px * 3/4))  + 30px);
  }
  .responsive main {
    position: relative;
    right: calc((99.99% * 1/4 - (30px - 30px * 1/4))  + 30px);
  }
}
