* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  color: #006ad1;
  font-size: 12px;
  font-weight: bold;
}

body {
  padding: 30px;
}

body > * * {
  background: rgba(30, 144, 255, 0.66);
  outline: 1px solid rgba(30, 144, 255, 0.75);
  outline-offset: -1px;
}

hr {
  width: 100vw;
  margin: 30px 0 30px -30px;
  height: 1px;
  background: #e6e6e6;
  border: 0;
}

.basic {
  generate-grid: columns(1/4 auto 1/4);
}

.responsive > * {
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .responsive {
    gg: columns(1/3 2/3);
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .responsive {
    gg: columns(1/4 3/4);
  }
  .responsive aside {
    position: relative;
    left: sizes(3/4) pluck(1) bump(30px);
  }
  .responsive main {
    position: relative;
    right: sizes(1/4) pluck(1) bump(30px);
  }
}
