div {
  margin-right: 15px;
}

div:nth-child(3n + 1) {
  width: calc(99.99% * 1/4 - (15px - 15px * 1/4));
}

div:nth-child(3n + 2) {
  width: calc(99.99% * 1/2 - (15px - 15px * 1/2));
}

div:nth-child(3n + 3) {
  width: calc(99.99% * 1/4 - (15px - 15px * 1/4));
}

div:last-child {
  margin-right: 0;
}
