.g div:nth-child(1) {
  width: sizes(auto 100px auto) pluck(1);
}

.g div:nth-child(2) {
  width: sizes(auto 100px auto) pluck(2);
}

.g div:nth-child(3) {
  width: sizes(auto 100px auto) pluck(3);
}
