div {
  margin-right: 20px;
}

div:nth-child(3n + 1) {
  width: sizes(100px 200px 300px) pluck(1) gutter(20px);
}

div:nth-child(3n + 2) {
  width: sizes(100px 200px 300px) pluck(2) gutter(20px);
}

div:nth-child(3n + 3) {
  width: sizes(100px 200px 300px) pluck(3) gutter(20px);
}

div:last-child {
  margin-right: 0;
}
