* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  padding: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: rgba(0, 0, 255, .35)
}

.grid * {
  background: rgba(0, 0, 255, .1);
  margin-bottom: 30px;
}
