@import url(common.css);
@ant-grid negative-margin;
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-5px / 2);
  margin-right: calc(-5px / 2); }
.grid > * {
  margin-left: calc(5px / 2);
  margin-right: calc(5px / 2); }
.grid > *:nth-child(3n + 1) {
  width: calc(99.99% * 3/39 - 5px); }
.grid > *:nth-child(3n + 2) {
  width: calc(99.99% * 9/39 - 5px); }
.grid > *:nth-child(3n + 3) {
  width: calc(99.99% * 27/39 - 5px); }

.grid.two {
  display: none; }
