@import url(common.css);
@ant-grid negative-margin;
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-30px / 2);
  margin-right: calc(-30px / 2); }
.grid > * {
  margin-left: calc(30px / 2);
  margin-right: calc(30px / 2); }
.grid > *:nth-child(4n + 1) {
  width: calc(99.99% * 1/9.47173 - 30px); }
.grid > *:nth-child(4n + 2) {
  width: calc(99.99% * 1.618/9.47173 - 30px); }
.grid > *:nth-child(4n + 3) {
  width: calc(99.99% * 2.61792/9.47173 - 30px); }
.grid > *:nth-child(4n + 4) {
  width: calc(99.99% * 4.2358/9.47173 - 30px); }
