@import 'common.css';
// @ant-grid negative-margin;

@ant-grid negative-margin;

$sizes:
  1/9.471725032
  1.618/9.471725032
  2.617924/9.471725032
  4.235801032/9.471725032;

.grid {

  // ant:
  //   sizes(
  //     1/5
  //     3/5
  //     1/5
  //   )
  // ;

  $ratio: 3;

  ant:
    sizes(
      ratio($ratio pow 1)
      ratio($ratio pow 2)
      ratio($ratio pow 3)
    )
    gutter(5px)
  ;

}

.grid.two {
  display: none;
}

// .grid.two {
//   margin: 0 -5px;
//
//   $sizes:
//     2/8 5/8 1/8
//     1/8 1/8 1/8 1/8 1/8 1/8 1/8 1/8
//   ;
//
//   div {
//     @for $i from 1 through length($sizes) {
//       &:nth-child(#{$i}) {
//         width:
//           sizes($sizes)
//           get($i)
//           grid(negative-margin)
//           gutter(5px)
//         ;
//       }
//     }
//   }
// }

// .grid > *:nth-child(1) {
//   margin-right: sizes(1/9.471725032 4.235924/9.471725032 4.235801032/9.471725032) get(2) bump(30px * 1.5);
// }

// div {
//   ant: sizes(1/4 1/2) get(2);
//
//   if negmar
//   margin-left: -half gut
//   margin-right: -half gut
//   > *
//     margin-left: half gut
//     margin-right: half gut
//
//   @for $i in 1..length($sizes) {
//     &:nth-child(length($sizes)n + $i) {
//       width: getsize
//     }
//   }
//
//   if nth
//   &:nth-child(lengthn + length) {
//     margin-right: 0;
//   }
// }
