* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.5);
  padding: 30px;
}

[data-ant*="grid("] * {
  background: rgba(0, 0, 255, 0.25);
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  body {
    background: rgba(255, 0, 0, 0.25);
  }
}

@media (min-width: 1000px) {
  body {
    background: rgba(0, 128, 0, 0.25);
  }
}

[data-ant*="grid(negative-margin)"] {
  display: flex;
  flex-wrap: wrap;
}

[data-ant*="grid(negative-margin)"] > *  {
  margin-right: 30px;
}

[data-ant*="grid(negative-margin)"] > *:nth-child(4n + 1)  {
  width: calc(99.99% * 1.618/15.325251101776004 - (30px - 30px * 1.618/15.325251101776004));
}

[data-ant*="grid(negative-margin)"] > *:nth-child(4n + 2)  {
  width: calc(99.99% * 2.6179240000000004/15.325251101776004 - (30px - 30px * 2.6179240000000004/15.325251101776004));
}

[data-ant*="grid(negative-margin)"] > *:nth-child(4n + 3)  {
  width: calc(99.99% * 4.235801032000001/15.325251101776004 - (30px - 30px * 4.235801032000001/15.325251101776004));
}

[data-ant*="grid(negative-margin)"] > *:nth-child(4n + 4)  {
  width: calc(99.99% * 6.853526069776002/15.325251101776004 - (30px - 30px * 6.853526069776002/15.325251101776004));
  margin-right: 0;
}

.thirds {
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  margin-right: 30px;
}

.thirds:nth-child(3n + 3) {
  margin-right: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > *  {
  margin-right: 30px;
}

.grid > *:nth-child(3n + 1)  {
  width: 100px;
}

.grid > *:nth-child(3n + 2)  {
  width: calc((99.99% - (100px + (30px * 1))) * 1/2 - (30px - 30px * 1/2));
}

.grid > *:nth-child(3n + 3)  {
  width: calc((99.99% - (100px + (30px * 1))) * 1/2 - (30px - 30px * 1/2));
  margin-right: 0;
}

.half-sans-100px {
  width: calc((99.99% - (100px + (30px * 1))) * 1/2 - (30px - 30px * 1/2));
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-30px / 2);
  margin-right: calc(-30px / 2);
}

.grid > *  {
  margin-left: calc(30px / 2);
  margin-right: calc(30px / 2);
}

.grid > *:nth-child(3n + 1)  {
  width: calc(99.99% * 1/2 - 30px);
}

.grid > *:nth-child(3n + 2)  {
  width: calc(99.99% * 1/4 - 30px);
}

.grid > *:nth-child(3n + 3)  {
  width: calc(99.99% * 1/4 - 30px);
}
