@import 'settings'

*
  margin: 0
  padding: 0
  box-sizing: border-box

:root
  font-family: sans-serif
  color: darken(dodgerblue, 33%)
  font-weight: bold
  padding: $g $g 0
  font-size: 12px
  -webkit-font-smoothing: antialiased

section
  margin-bottom: $g
  *
    background: rgba(dodgerblue, 66%)
  h6
    background: rgba(dodgerblue, 5%)
    font-size: 14px
    padding: 0 ($g / 2)
  > *
    counter-reset: item
    > *
      position: relative
      outline: 1px solid rgba(dodgerblue, 75%)
      outline-offset: -1px
      min-height: 50px
      overflow: hidden
      &::before
        position: absolute
        counter-increment: item
        content: counter(item)
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        line-height: 0

section:not([class*="generate-grid"])
  > *
    display: flex
    flex-wrap: wrap
  &.nth
    > *
      > *
        margin-right: $g
        &:last-child
          margin-right: 0
  &.neg
    > *
      margin-left: -($g / 2)
      margin-right: -($g / 2)
      > *
        margin-left: ($g / 2)
        margin-right: ($g / 2)
    h6
      padding: 0 $g
  &.gutless
    > *
      > *
        margin-right: 0
  &.gutless.neg
    > *
      margin-left: 0
      margin-right: 0
      > *
        margin-left: 0
    h6
      padding: 0 ($g / 2)

h6
  text-align: left
  line-height: 50px
