// @ant-gutter 5px;
// @ant-type negative-margin;

@define-mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

* {
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 12px;
  padding: 30px;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-bottom: 15px;
  padding-top: 25px;
  border-top: 1px solid #ddd;
}

section {
  > div {
    @mixin clearfix;
    margin-bottom: 15px;
    text-align: center;
    line-height: 50px;
    color: white;

    > figure {
      float: left;
      height: 50px;
    }
  }

  > div,
  > div * {
    background: rgba(0, 0, 255, .1);
  }

  &:first-of-type {
    h2 {
      padding-top: 0;
      border-top: 0;
    }
  }
}

// fraction(s) only
$gutter: 30px;
$sizes: 1/2 1/6 1/6 auto;

.fractions-only {
  .nth {
    background: unquote('hello');
    @for $i from 1 through length($sizes) {
      figure:nth-child(#{$i}) {
        width: unquote('ant(' + nth($sizes, $i) + ', #{$gutter})[1]');
      }
    }
  }
}
