/* @ant-gutter 5px;*/
/* @ant-type negative-margin;*/

* {
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 12px;
  padding: 30px;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-bottom: 15px;
  padding-top: 25px;
  border-top: 1px solid #ddd;
}

section > div {
  margin-bottom: 15px;
  text-align: center;
  line-height: 50px;
  color: white;
}

section > div > figure {
  float: left;
  height: 50px;
}

section > div::after {
  content: '';
  display: table;
  clear: both;
}

section > div, section > div * {
  background: rgba(0, 0, 255, .1);
}

section:first-of-type h2 {
  padding-top: 0;
  border-top: 0;
}

/* fraction(s) only*/

.fractions-only .nth {
  background: unquote('hello')
}
