* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 10px;
  padding: 30px;
}
h1 {
  font-size: 18px;
  text-align: center;
  margin: 30px auto 45px;
  text-transform: uppercase;
  font-family: monospace, monospace;
}
h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  padding-top: 25px;
  text-align: center;
  color: #d9d9d9;
}
section .overflow-clipper {
  overflow: hidden;
}
section .nth,
section .negative-margin,
section .gutterless {
  text-align: center;
  line-height: 50px;
  color: rgba(30,144,255,0.5);
  background: rgba(30,144,255,0.1);
}
section .nth::after,
section .negative-margin::after,
section .gutterless::after {
  content: '';
  display: table;
  clear: both;
}
section .nth > figure,
section .negative-margin > figure,
section .gutterless > figure {
  overflow: hidden;
  float: left;
  height: 50px;
}
section .nth > figure:nth-child(odd),
section .negative-margin > figure:nth-child(odd),
section .gutterless > figure:nth-child(odd) {
  background: rgba(30,144,255,0.15);
}
section .nth > figure:nth-child(even),
section .negative-margin > figure:nth-child(even),
section .gutterless > figure:nth-child(even) {
  background: rgba(30,144,255,0.3);
}
section .nth figure {
  margin-right: 30px;
}
section .nth figure:last-child {
  margin-right: 0;
}
section .negative-margin {
  margin: 0 -15px;
}
section .negative-margin > figure {
  margin: 0 15px;
}
section > * {
  margin-bottom: 15px;
}
section:first-of-type h2 {
  padding-top: 0;
  border-top: 0;
}
.fractions-only .nth figure:nth-child(1) {
  width: calc(100% * 1/6 - (30px - 30px * 1/6));
}
.fractions-only .nth figure:nth-child(2) {
  width: calc(100% * 2/6 - (30px - 30px * 2/6));
}
.fractions-only .nth figure:nth-child(3) {
  width: calc(100% * 3/6 - (30px - 30px * 3/6));
}
.fractions-only .negative-margin > figure:nth-child(1) {
  width: calc(100% * 1/6 - 30px);
}
.fractions-only .negative-margin > figure:nth-child(2) {
  width: calc(100% * 2/6 - 30px);
}
.fractions-only .negative-margin > figure:nth-child(3) {
  width: calc(100% * 3/6 - 30px);
}
.fractions-only .gutterless figure:nth-child(1) {
  width: calc(100% * 1/6);
}
.fractions-only .gutterless figure:nth-child(2) {
  width: calc(100% * 2/6);
}
.fractions-only .gutterless figure:nth-child(3) {
  width: calc(100% * 3/6);
}
.fractions-and-fixed-numbers-only .nth figure:nth-child(1) {
  width: calc((100% - ((600px + 200px) + (30px * 2))) * 1/2 - (30px - 30px * 1/2));
}
.fractions-and-fixed-numbers-only .nth figure:nth-child(2) {
  width: calc((100% - ((600px + 200px) + (30px * 2))) * 1/2 - (30px - 30px * 1/2));
}
.fractions-and-fixed-numbers-only .nth figure:nth-child(3) {
  width: 600px;
}
.fractions-and-fixed-numbers-only .nth figure:nth-child(4) {
  width: 200px;
}
.fractions-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(1) {
  width: calc((100% - ((600px + 200px) + (30px * 2))) * 1/2 - 30px);
}
.fractions-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(2) {
  width: calc((100% - ((600px + 200px) + (30px * 2))) * 1/2 - 30px);
}
.fractions-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(3) {
  width: 600px;
}
.fractions-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(4) {
  width: 200px;
}
.fractions-and-fixed-numbers-only .gutterless figure:nth-child(1) {
  width: calc((100% - (600px + 200px)) * 1/2);
}
.fractions-and-fixed-numbers-only .gutterless figure:nth-child(2) {
  width: calc((100% - (600px + 200px)) * 1/2);
}
.fractions-and-fixed-numbers-only .gutterless figure:nth-child(3) {
  width: 600px;
}
.fractions-and-fixed-numbers-only .gutterless figure:nth-child(4) {
  width: 200px;
}
.fractions-and-autos-only .nth figure:nth-child(1) {
  width: calc(100% * 1/6 - (30px - 30px * 1/6));
}
.fractions-and-autos-only .nth figure:nth-child(2) {
  width: calc(100% * 1/3 - (30px - 30px * 1/3));
}
.fractions-and-autos-only .nth figure:nth-child(3) {
  width: calc(((100% - (100% * (1/6 + 1/3) - (30px - 30px * (1/6 + 1/3)))) / 2) - 30px);
}
.fractions-and-autos-only .nth figure:nth-child(4) {
  width: calc(((100% - (100% * (1/6 + 1/3) - (30px - 30px * (1/6 + 1/3)))) / 2) - 30px);
}
.fractions-and-autos-only .overflow-clipper .negative-margin > figure:nth-child(1) {
  width: calc(100% * 1/6 - 30px);
}
.fractions-and-autos-only .overflow-clipper .negative-margin > figure:nth-child(2) {
  width: calc(100% * 1/3 - 30px);
}
.fractions-and-autos-only .overflow-clipper .negative-margin > figure:nth-child(3) {
  width: calc(((100% - (100% * (1/6 + 1/3))) / 2) - 30px);
}
.fractions-and-autos-only .overflow-clipper .negative-margin > figure:nth-child(4) {
  width: calc(((100% - (100% * (1/6 + 1/3))) / 2) - 30px);
}
.fractions-and-autos-only .gutterless figure:nth-child(1) {
  width: calc(100% * 1/6);
}
.fractions-and-autos-only .gutterless figure:nth-child(2) {
  width: calc(100% * 1/3);
}
.fractions-and-autos-only .gutterless figure:nth-child(3) {
  width: calc((100% - (100% * (1/6 + 1/3))) / 2);
}
.fractions-and-autos-only .gutterless figure:nth-child(4) {
  width: calc((100% - (100% * (1/6 + 1/3))) / 2);
}
.fractions-fixed-numbers-and-autos .nth figure:nth-child(1) {
  width: calc((100% - ((200px + 100px) + (30px * 2))) * 1/6 - (30px - 30px * 1/6));
}
.fractions-fixed-numbers-and-autos .nth figure:nth-child(2) {
  width: calc((100% - ((200px + 100px) + (30px * 2))) * 1/3 - (30px - 30px * 1/3));
}
.fractions-fixed-numbers-and-autos .nth figure:nth-child(3) {
  width: 200px;
}
.fractions-fixed-numbers-and-autos .nth figure:nth-child(4) {
  width: 100px;
}
.fractions-fixed-numbers-and-autos .nth figure:nth-child(5) {
  width: calc((100% - (((200px + 100px) + (30px * 2)) + ((100% - ((200px + 100px) + (30px * 2))) * (1/6 + 1/3) - (30px - 30px * (1/6 + 1/3)))) - (30px * 2)) / 2);
}
.fractions-fixed-numbers-and-autos .nth figure:nth-child(6) {
  width: calc((100% - (((200px + 100px) + (30px * 2)) + ((100% - ((200px + 100px) + (30px * 2))) * (1/6 + 1/3) - (30px - 30px * (1/6 + 1/3)))) - (30px * 2)) / 2);
}
.fractions-fixed-numbers-and-autos .overflow-clipper .negative-margin > figure:nth-child(1) {
  width: calc((100% - ((200px + 100px) + (30px * 2))) * 1/6 - 30px);
}
.fractions-fixed-numbers-and-autos .overflow-clipper .negative-margin > figure:nth-child(2) {
  width: calc((100% - ((200px + 100px) + (30px * 2))) * 1/3 - 30px);
}
.fractions-fixed-numbers-and-autos .overflow-clipper .negative-margin > figure:nth-child(3) {
  width: 200px;
}
.fractions-fixed-numbers-and-autos .overflow-clipper .negative-margin > figure:nth-child(4) {
  width: 100px;
}
.fractions-fixed-numbers-and-autos .overflow-clipper .negative-margin > figure:nth-child(5) {
  width: calc((100% - (((200px + 100px) + (30px * 2)) + ((100% - ((200px + 100px) + (30px * 2))) * (1/6 + 1/3) - (30px * 2))) - (30px * 2)) / 2 - 30px);
}
.fractions-fixed-numbers-and-autos .overflow-clipper .negative-margin > figure:nth-child(6) {
  width: calc((100% - (((200px + 100px) + (30px * 2)) + ((100% - ((200px + 100px) + (30px * 2))) * (1/6 + 1/3) - (30px * 2))) - (30px * 2)) / 2 - 30px);
}
.fractions-fixed-numbers-and-autos .gutterless figure:nth-child(1) {
  width: calc((100% - (200px + 100px)) * 1/6);
}
.fractions-fixed-numbers-and-autos .gutterless figure:nth-child(2) {
  width: calc((100% - (200px + 100px)) * 1/3);
}
.fractions-fixed-numbers-and-autos .gutterless figure:nth-child(3) {
  width: 200px;
}
.fractions-fixed-numbers-and-autos .gutterless figure:nth-child(4) {
  width: 100px;
}
.fractions-fixed-numbers-and-autos .gutterless figure:nth-child(5) {
  width: calc((100% - ((200px + 100px) + ((100% - (200px + 100px)) * (1/6 + 1/3)))) / 2);
}
.fractions-fixed-numbers-and-autos .gutterless figure:nth-child(6) {
  width: calc((100% - ((200px + 100px) + ((100% - (200px + 100px)) * (1/6 + 1/3)))) / 2);
}
.autos-only .nth figure:nth-child(1) {
  width: calc((100% - ((3 - 1) * 30px)) / 3);
}
.autos-only .nth figure:nth-child(2) {
  width: calc((100% - ((3 - 1) * 30px)) / 3);
}
.autos-only .nth figure:nth-child(3) {
  width: calc((100% - ((3 - 1) * 30px)) / 3);
}
.autos-only .overflow-clipper .negative-margin > figure:nth-child(1) {
  width: calc((100% - ((3) * 30px)) / 3);
}
.autos-only .overflow-clipper .negative-margin > figure:nth-child(2) {
  width: calc((100% - ((3) * 30px)) / 3);
}
.autos-only .overflow-clipper .negative-margin > figure:nth-child(3) {
  width: calc((100% - ((3) * 30px)) / 3);
}
.autos-only .gutterless figure:nth-child(1) {
  width: calc(100% / 3);
}
.autos-only .gutterless figure:nth-child(2) {
  width: calc(100% / 3);
}
.autos-only .gutterless figure:nth-child(3) {
  width: calc(100% / 3);
}
.autos-and-fixed-numbers-only .nth figure:nth-child(1) {
  width: calc((100% - (200px + 80px) - ((2 + 2 - 1) * 30px)) / 2);
}
.autos-and-fixed-numbers-only .nth figure:nth-child(2) {
  width: calc((100% - (200px + 80px) - ((2 + 2 - 1) * 30px)) / 2);
}
.autos-and-fixed-numbers-only .nth figure:nth-child(3) {
  width: 200px;
}
.autos-and-fixed-numbers-only .nth figure:nth-child(4) {
  width: 80px;
}
.autos-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(1) {
  width: calc((100% - (200px + 80px) - ((2 + 2) * 30px)) / 2);
}
.autos-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(2) {
  width: calc((100% - (200px + 80px) - ((2 + 2) * 30px)) / 2);
}
.autos-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(3) {
  width: 200px;
}
.autos-and-fixed-numbers-only .overflow-clipper .negative-margin > figure:nth-child(4) {
  width: 80px;
}
.autos-and-fixed-numbers-only .gutterless figure:nth-child(1) {
  width: calc((100% - (200px + 80px)) / 2);
}
.autos-and-fixed-numbers-only .gutterless figure:nth-child(2) {
  width: calc((100% - (200px + 80px)) / 2);
}
.autos-and-fixed-numbers-only .gutterless figure:nth-child(3) {
  width: 200px;
}
.autos-and-fixed-numbers-only .gutterless figure:nth-child(4) {
  width: 80px;
}
