* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: sans-serif;
  color: #0061bf;
  font-weight: bold;
  padding: 30px 30px 0;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
section {
  margin-bottom: 30px;
}
section * {
  background: rgba(30,144,255,0.66);
}
section h6 {
  background: rgba(30,144,255,0.05);
  font-size: 14px;
  padding: 0 15px;
}
section:not(.gg) > * {
  display: flex;
  flex-wrap: wrap;
}
section:not(.gg).nth > * > * {
  margin-right: 30px;
}
section:not(.gg).nth > * > *:last-child {
  margin-right: 0;
}
section:not(.gg).neg > * {
  margin-left: -15px;
  margin-right: -15px;
}
section:not(.gg).neg > * > * {
  margin-left: 15px;
  margin-right: 15px;
}
section:not(.gg).neg h6 {
  padding: 0 30px;
}
section:not(.gg).gutless > * > * {
  margin-right: 0;
}
section:not(.gg).gutless.neg > * {
  margin-left: 0;
  margin-right: 0;
}
section:not(.gg).gutless.neg > * > * {
  margin-left: 0;
}
section:not(.gg).gutless.neg h6 {
  padding: 0 15px;
}
.fixed-only.nth .ex1 figure:nth-child(1) {
  width: 100px;
}
.fixed-only.nth .ex1 figure:nth-child(2) {
  width: 200px;
}
.fixed-only.nth .ex1 figure:nth-child(3) {
  width: 300px;
}
.fixed-only.neg .ex1 figure:nth-child(1) {
  width: 100px;
}
.fixed-only.neg .ex1 figure:nth-child(2) {
  width: 200px;
}
.fixed-only.neg .ex1 figure:nth-child(3) {
  width: 300px;
}
.fixed-only.gutless .ex1 figure:nth-child(1) {
  width: 100px;
}
.fixed-only.gutless .ex1 figure:nth-child(2) {
  width: 200px;
}
.fixed-only.gutless .ex1 figure:nth-child(3) {
  width: 300px;
}
.fixed-only.neg.gutless .ex1 figure:nth-child(1) {
  width: 100px;
}
.fixed-only.neg.gutless .ex1 figure:nth-child(2) {
  width: 200px;
}
.fixed-only.neg.gutless .ex1 figure:nth-child(3) {
  width: 300px;
}
.fraction-only.nth .ex1 figure:nth-child(1) {
  width: calc(99.99% * 0.25 - (30px - 30px * 0.25));
}
.fraction-only.nth .ex1 figure:nth-child(2) {
  width: calc(99.99% * 0.5 - (30px - 30px * 0.5));
}
.fraction-only.nth .ex1 figure:nth-child(3) {
  width: calc(99.99% * 0.25 - (30px - 30px * 0.25));
}
.fraction-only.neg .ex1 figure:nth-child(1) {
  width: calc(99.99% * 0.25 - 30px);
}
.fraction-only.neg .ex1 figure:nth-child(2) {
  width: calc(99.99% * 0.5 - 30px);
}
.fraction-only.neg .ex1 figure:nth-child(3) {
  width: calc(99.99% * 0.25 - 30px);
}
.fraction-only.gutless .ex1 figure:nth-child(1) {
  width: calc(99.999999% * 0.25);
}
.fraction-only.gutless .ex1 figure:nth-child(2) {
  width: calc(99.999999% * 0.5);
}
.fraction-only.gutless .ex1 figure:nth-child(3) {
  width: calc(99.999999% * 0.25);
}
.fraction-only.neg.gutless .ex1 figure:nth-child(1) {
  width: calc(99.999999% * 0.25);
}
.fraction-only.neg.gutless .ex1 figure:nth-child(2) {
  width: calc(99.999999% * 0.5);
}
.fraction-only.neg.gutless .ex1 figure:nth-child(3) {
  width: calc(99.999999% * 0.25);
}
.fractions-and-fixed.nth .ex1 figure:nth-child(1) {
  width: calc((99.99% - (100px + 200px + (30px * 2))) * 0.5 - (30px - 30px * 0.5));
}
.fractions-and-fixed.nth .ex1 figure:nth-child(2) {
  width: calc((99.99% - (100px + 200px + (30px * 2))) * 0.5 - (30px - 30px * 0.5));
}
.fractions-and-fixed.nth .ex1 figure:nth-child(3) {
  width: 100px;
}
.fractions-and-fixed.nth .ex1 figure:nth-child(4) {
  width: 200px;
}
.fractions-and-fixed.neg .ex1 figure:nth-child(1) {
  width: calc((99.99% - (100px + 200px + (30px * 2))) * 0.5 - 30px);
}
.fractions-and-fixed.neg .ex1 figure:nth-child(2) {
  width: calc((99.99% - (100px + 200px + (30px * 2))) * 0.5 - 30px);
}
.fractions-and-fixed.neg .ex1 figure:nth-child(3) {
  width: 100px;
}
.fractions-and-fixed.neg .ex1 figure:nth-child(4) {
  width: 200px;
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(1) {
  width: calc((99.999999% - (100px + 200px)) * 0.5);
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(2) {
  width: calc((99.999999% - (100px + 200px)) * 0.5);
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(3) {
  width: 100px;
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(4) {
  width: 200px;
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(1) {
  width: calc((99.999999% - (100px + 200px)) * 0.5);
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(2) {
  width: calc((99.999999% - (100px + 200px)) * 0.5);
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(3) {
  width: 100px;
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(4) {
  width: 200px;
}
.fractions-and-auto.nth .ex1 figure:nth-child(1) {
  width: calc(99.99% * 0.5 - (30px - 30px * 0.5));
}
.fractions-and-auto.nth .ex1 figure:nth-child(2) {
  width: calc(99.99% * 0.5 - (30px - 30px * 0.5));
}
.fractions-and-auto.nth .ex1 figure:nth-child(3) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.nth .ex1 figure:nth-child(4) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.neg .ex1 figure:nth-child(1) {
  width: calc(99.99% * 0.5 - 30px);
}
.fractions-and-auto.neg .ex1 figure:nth-child(2) {
  width: calc(99.99% * 0.5 - 30px);
}
.fractions-and-auto.neg .ex1 figure:nth-child(3) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.neg .ex1 figure:nth-child(4) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.gutless .ex1 figure:nth-child(1) {
  width: calc(99.999999% * 0.5);
}
.fractions-and-auto.gutless .ex1 figure:nth-child(2) {
  width: calc(99.999999% * 0.5);
}
.fractions-and-auto.gutless .ex1 figure:nth-child(3) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.gutless .ex1 figure:nth-child(4) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(1) {
  width: calc(99.999999% * 0.5);
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(2) {
  width: calc(99.999999% * 0.5);
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(3) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(4) {
  width: postcss-ant: How did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}
