@import 'settings'
@import 'common'


.fixed-only
  $sizes = 100px 200px 300px

  &.nth
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i)

  &.neg
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) technique(negative-margin)

  &.gutless
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0)

  &.neg.gutless
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0) technique(negative-margin)


.fraction-only
  $sizes = 1/4 1/2 1/4

  &.nth
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i)

  &.neg
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) technique(negative-margin)

  &.gutless
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0)

  &.neg.gutless
    .ex1
      figure
        for $i in 1..3
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0) technique(negative-margin)


.fractions-and-fixed
  $sizes = 1/2 1/2 100px 200px

  &.nth
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i)

  &.neg
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) technique(negative-margin)

  &.gutless
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0)

  &.neg.gutless
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0) technique(negative-margin)


.fractions-and-auto
  $sizes = 1/2 1/2 auto auto

  &.nth
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i)

  &.neg
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) technique(negative-margin)

  &.gutless
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0)

  &.neg.gutless
    .ex1
      figure
        for $i in 1..4
          &:nth-child({$i})
            width: sizes($sizes) pluck($i) gutter(0) technique(negative-margin)
