* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: sans-serif;
  color: #0061bf;
  font-weight: bold;
  padding: 30px 30px 0;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
section {
  margin-bottom: 30px;
}
section * {
  background: rgba(30,144,255,0.66);
}
section h6 {
  background: rgba(30,144,255,0.05);
  font-size: 14px;
  padding: 0 15px;
}
section > * {
  counter-reset: item;
}
section > * > * {
  position: relative;
  outline: 1px solid rgba(30,144,255,0.75);
  outline-offset: -1px;
  min-height: 50px;
  overflow: hidden;
}
section > * > *::before {
  position: absolute;
  counter-increment: item;
  content: counter(item);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  line-height: 0;
}
section:not([class*="generate-grid"]) > * {
  display: flex;
  flex-wrap: wrap;
}
section:not([class*="generate-grid"]).nth > * > * {
  margin-right: 30px;
}
section:not([class*="generate-grid"]).nth > * > *:last-child {
  margin-right: 0;
}
section:not([class*="generate-grid"]).neg > * {
  margin-left: -15px;
  margin-right: -15px;
}
section:not([class*="generate-grid"]).neg > * > * {
  margin-left: 15px;
  margin-right: 15px;
}
section:not([class*="generate-grid"]).neg h6 {
  padding: 0 30px;
}
section:not([class*="generate-grid"]).gutless > * > * {
  margin-right: 0;
}
section:not([class*="generate-grid"]).gutless.neg > * {
  margin-left: 0;
  margin-right: 0;
}
section:not([class*="generate-grid"]).gutless.neg > * > * {
  margin-left: 0;
}
section:not([class*="generate-grid"]).gutless.neg h6 {
  padding: 0 15px;
}
h6 {
  text-align: left;
  line-height: 50px;
}
.fixed-only.nth .ex1 figure:nth-child(1) {
  width: sizes(100px 200px 300px) pluck(1);
}
.fixed-only.nth .ex1 figure:nth-child(2) {
  width: sizes(100px 200px 300px) pluck(2);
}
.fixed-only.nth .ex1 figure:nth-child(3) {
  width: sizes(100px 200px 300px) pluck(3);
}
.fixed-only.neg .ex1 figure:nth-child(1) {
  width: sizes(100px 200px 300px) pluck(1) technique(negative-margin);
}
.fixed-only.neg .ex1 figure:nth-child(2) {
  width: sizes(100px 200px 300px) pluck(2) technique(negative-margin);
}
.fixed-only.neg .ex1 figure:nth-child(3) {
  width: sizes(100px 200px 300px) pluck(3) technique(negative-margin);
}
.fixed-only.gutless .ex1 figure:nth-child(1) {
  width: sizes(100px 200px 300px) pluck(1) gutter(0);
}
.fixed-only.gutless .ex1 figure:nth-child(2) {
  width: sizes(100px 200px 300px) pluck(2) gutter(0);
}
.fixed-only.gutless .ex1 figure:nth-child(3) {
  width: sizes(100px 200px 300px) pluck(3) gutter(0);
}
.fixed-only.neg.gutless .ex1 figure:nth-child(1) {
  width: sizes(100px 200px 300px) pluck(1) gutter(0) technique(negative-margin);
}
.fixed-only.neg.gutless .ex1 figure:nth-child(2) {
  width: sizes(100px 200px 300px) pluck(2) gutter(0) technique(negative-margin);
}
.fixed-only.neg.gutless .ex1 figure:nth-child(3) {
  width: sizes(100px 200px 300px) pluck(3) gutter(0) technique(negative-margin);
}
.fraction-only.nth .ex1 figure:nth-child(1) {
  width: sizes(0.25 0.5 0.25) pluck(1);
}
.fraction-only.nth .ex1 figure:nth-child(2) {
  width: sizes(0.25 0.5 0.25) pluck(2);
}
.fraction-only.nth .ex1 figure:nth-child(3) {
  width: sizes(0.25 0.5 0.25) pluck(3);
}
.fraction-only.neg .ex1 figure:nth-child(1) {
  width: sizes(0.25 0.5 0.25) pluck(1) technique(negative-margin);
}
.fraction-only.neg .ex1 figure:nth-child(2) {
  width: sizes(0.25 0.5 0.25) pluck(2) technique(negative-margin);
}
.fraction-only.neg .ex1 figure:nth-child(3) {
  width: sizes(0.25 0.5 0.25) pluck(3) technique(negative-margin);
}
.fraction-only.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.25 0.5 0.25) pluck(1) gutter(0);
}
.fraction-only.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.25 0.5 0.25) pluck(2) gutter(0);
}
.fraction-only.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.25 0.5 0.25) pluck(3) gutter(0);
}
.fraction-only.neg.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.25 0.5 0.25) pluck(1) gutter(0) technique(negative-margin);
}
.fraction-only.neg.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.25 0.5 0.25) pluck(2) gutter(0) technique(negative-margin);
}
.fraction-only.neg.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.25 0.5 0.25) pluck(3) gutter(0) technique(negative-margin);
}
.fractions-and-fixed.nth .ex1 figure:nth-child(1) {
  width: sizes(0.5 0.5 100px 200px) pluck(1);
}
.fractions-and-fixed.nth .ex1 figure:nth-child(2) {
  width: sizes(0.5 0.5 100px 200px) pluck(2);
}
.fractions-and-fixed.nth .ex1 figure:nth-child(3) {
  width: sizes(0.5 0.5 100px 200px) pluck(3);
}
.fractions-and-fixed.nth .ex1 figure:nth-child(4) {
  width: sizes(0.5 0.5 100px 200px) pluck(4);
}
.fractions-and-fixed.neg .ex1 figure:nth-child(1) {
  width: sizes(0.5 0.5 100px 200px) pluck(1) technique(negative-margin);
}
.fractions-and-fixed.neg .ex1 figure:nth-child(2) {
  width: sizes(0.5 0.5 100px 200px) pluck(2) technique(negative-margin);
}
.fractions-and-fixed.neg .ex1 figure:nth-child(3) {
  width: sizes(0.5 0.5 100px 200px) pluck(3) technique(negative-margin);
}
.fractions-and-fixed.neg .ex1 figure:nth-child(4) {
  width: sizes(0.5 0.5 100px 200px) pluck(4) technique(negative-margin);
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.5 0.5 100px 200px) pluck(1) gutter(0);
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.5 0.5 100px 200px) pluck(2) gutter(0);
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.5 0.5 100px 200px) pluck(3) gutter(0);
}
.fractions-and-fixed.gutless .ex1 figure:nth-child(4) {
  width: sizes(0.5 0.5 100px 200px) pluck(4) gutter(0);
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.5 0.5 100px 200px) pluck(1) gutter(0) technique(negative-margin);
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.5 0.5 100px 200px) pluck(2) gutter(0) technique(negative-margin);
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.5 0.5 100px 200px) pluck(3) gutter(0) technique(negative-margin);
}
.fractions-and-fixed.neg.gutless .ex1 figure:nth-child(4) {
  width: sizes(0.5 0.5 100px 200px) pluck(4) gutter(0) technique(negative-margin);
}
.fractions-and-auto.nth .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(1);
}
.fractions-and-auto.nth .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(2);
}
.fractions-and-auto.nth .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(3);
}
.fractions-and-auto.nth .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(4);
}
.fractions-and-auto.neg .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(1) technique(negative-margin);
}
.fractions-and-auto.neg .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(2) technique(negative-margin);
}
.fractions-and-auto.neg .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(3) technique(negative-margin);
}
.fractions-and-auto.neg .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(4) technique(negative-margin);
}
.fractions-and-auto.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(1) gutter(0);
}
.fractions-and-auto.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(2) gutter(0);
}
.fractions-and-auto.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(3) gutter(0);
}
.fractions-and-auto.gutless .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(4) gutter(0);
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(1) gutter(0) technique(negative-margin);
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(2) gutter(0) technique(negative-margin);
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(3) gutter(0) technique(negative-margin);
}
.fractions-and-auto.neg.gutless .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 auto auto 0.142857142857143) pluck(4) gutter(0) technique(negative-margin);
}
.fractions-fixed-and-auto.nth .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(1);
}
.fractions-fixed-and-auto.nth .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(2);
}
.fractions-fixed-and-auto.nth .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(3);
}
.fractions-fixed-and-auto.nth .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(4);
}
.fractions-fixed-and-auto.nth .ex1 figure:nth-child(5) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(5);
}
.fractions-fixed-and-auto.nth .ex1 figure:nth-child(6) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(6);
}
.fractions-fixed-and-auto.neg .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(1) technique(negative-margin);
}
.fractions-fixed-and-auto.neg .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(2) technique(negative-margin);
}
.fractions-fixed-and-auto.neg .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(3) technique(negative-margin);
}
.fractions-fixed-and-auto.neg .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(4) technique(negative-margin);
}
.fractions-fixed-and-auto.neg .ex1 figure:nth-child(5) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(5) technique(negative-margin);
}
.fractions-fixed-and-auto.neg .ex1 figure:nth-child(6) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(6) technique(negative-margin);
}
.fractions-fixed-and-auto.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(1) gutter(0);
}
.fractions-fixed-and-auto.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(2) gutter(0);
}
.fractions-fixed-and-auto.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(3) gutter(0);
}
.fractions-fixed-and-auto.gutless .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(4) gutter(0);
}
.fractions-fixed-and-auto.gutless .ex1 figure:nth-child(5) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(5) gutter(0);
}
.fractions-fixed-and-auto.gutless .ex1 figure:nth-child(6) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(6) gutter(0);
}
.fractions-fixed-and-auto.neg.gutless .ex1 figure:nth-child(1) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(1) gutter(0) technique(negative-margin);
}
.fractions-fixed-and-auto.neg.gutless .ex1 figure:nth-child(2) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(2) gutter(0) technique(negative-margin);
}
.fractions-fixed-and-auto.neg.gutless .ex1 figure:nth-child(3) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(3) gutter(0) technique(negative-margin);
}
.fractions-fixed-and-auto.neg.gutless .ex1 figure:nth-child(4) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(4) gutter(0) technique(negative-margin);
}
.fractions-fixed-and-auto.neg.gutless .ex1 figure:nth-child(5) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(5) gutter(0) technique(negative-margin);
}
.fractions-fixed-and-auto.neg.gutless .ex1 figure:nth-child(6) {
  width: sizes(0.142857142857143 100px auto auto 100px 0.142857142857143) pluck(6) gutter(0) technique(negative-margin);
}
.autos-only.nth .ex1 figure:nth-child(1) {
  width: sizes(auto auto auto auto) pluck(1);
}
.autos-only.nth .ex1 figure:nth-child(2) {
  width: sizes(auto auto auto auto) pluck(2);
}
.autos-only.nth .ex1 figure:nth-child(3) {
  width: sizes(auto auto auto auto) pluck(3);
}
.autos-only.nth .ex1 figure:nth-child(4) {
  width: sizes(auto auto auto auto) pluck(4);
}
.autos-only.neg .ex1 figure:nth-child(1) {
  width: sizes(auto auto auto auto) pluck(1) technique(negative-margin);
}
.autos-only.neg .ex1 figure:nth-child(2) {
  width: sizes(auto auto auto auto) pluck(2) technique(negative-margin);
}
.autos-only.neg .ex1 figure:nth-child(3) {
  width: sizes(auto auto auto auto) pluck(3) technique(negative-margin);
}
.autos-only.neg .ex1 figure:nth-child(4) {
  width: sizes(auto auto auto auto) pluck(4) technique(negative-margin);
}
.autos-only.gutless .ex1 figure:nth-child(1) {
  width: sizes(auto auto auto auto) pluck(1) gutter(0);
}
.autos-only.gutless .ex1 figure:nth-child(2) {
  width: sizes(auto auto auto auto) pluck(2) gutter(0);
}
.autos-only.gutless .ex1 figure:nth-child(3) {
  width: sizes(auto auto auto auto) pluck(3) gutter(0);
}
.autos-only.gutless .ex1 figure:nth-child(4) {
  width: sizes(auto auto auto auto) pluck(4) gutter(0);
}
.autos-only.neg.gutless .ex1 figure:nth-child(1) {
  width: sizes(auto auto auto auto) pluck(1) gutter(0) technique(negative-margin);
}
.autos-only.neg.gutless .ex1 figure:nth-child(2) {
  width: sizes(auto auto auto auto) pluck(2) gutter(0) technique(negative-margin);
}
.autos-only.neg.gutless .ex1 figure:nth-child(3) {
  width: sizes(auto auto auto auto) pluck(3) gutter(0) technique(negative-margin);
}
.autos-only.neg.gutless .ex1 figure:nth-child(4) {
  width: sizes(auto auto auto auto) pluck(4) gutter(0) technique(negative-margin);
}
.generate-grid.nth .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px);
}
@media (min-width: 700px) {
  .generate-grid.nth .ex1 {
    gg: columns(reset) rows(reset);
  }
  .generate-grid.nth .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid.nth .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px);
  }
}
@media (min-width: 1200px) {
  .generate-grid.nth .ex1 {
    gg: columns(50px 0.25 auto auto 0.25 50px, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px, 80px 80px);
  }
}
.generate-grid.neg .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px) technique(negative-margin);
}
@media (min-width: 700px) {
  .generate-grid.neg .ex1 {
    gg: columns(reset) rows(reset) technique(negative-margin);
  }
  .generate-grid.neg .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid.neg .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px) technique(negative-margin);
  }
}
@media (min-width: 1200px) {
  .generate-grid.neg .ex1 {
    gg: columns(50px 0.25 auto auto 0.25 50px, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px, 80px 80px) technique(negative-margin);
  }
}
.generate-grid.gutless .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px) gutter(0);
}
@media (min-width: 700px) {
  .generate-grid.gutless .ex1 {
    gg: columns(reset) rows(reset) gutter(0);
  }
  .generate-grid.gutless .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid.gutless .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px) gutter(0);
  }
}
@media (min-width: 1200px) {
  .generate-grid.gutless .ex1 {
    gg: columns(50px 0.25 auto auto 0.25 50px, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px, 80px 80px) gutter(0);
  }
}
.generate-grid.neg.gutless .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px) gutter(0) technique(negative-margin);
}
@media (min-width: 700px) {
  .generate-grid.neg.gutless .ex1 {
    gg: columns(reset) rows(reset) gutter(0) technique(negative-margin);
  }
  .generate-grid.neg.gutless .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid.neg.gutless .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px) gutter(0) technique(negative-margin);
  }
}
@media (min-width: 1200px) {
  .generate-grid.neg.gutless .ex1 {
    gg: columns(50px 0.25 auto auto 0.25 50px, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px, 80px 80px) gutter(0) technique(negative-margin);
  }
}
.generate-grid-weird.nth .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px);
}
@media (min-width: 700px) {
  .generate-grid-weird.nth .ex1 {
    gg: columns(reset) rows(reset);
  }
  .generate-grid-weird.nth .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid-weird.nth .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px);
  }
}
@media (min-width: 1200px) {
  .generate-grid-weird.nth .ex1 {
    gg: columns(0.25 0.25 auto 10% auto 100px 20em, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px 120px, 80px 80px);
  }
}
.generate-grid-weird.neg .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px) technique(negative-margin);
}
@media (min-width: 700px) {
  .generate-grid-weird.neg .ex1 {
    gg: columns(reset) rows(reset) technique(negative-margin);
  }
  .generate-grid-weird.neg .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid-weird.neg .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px) technique(negative-margin);
  }
}
@media (min-width: 1200px) {
  .generate-grid-weird.neg .ex1 {
    gg: columns(0.25 0.25 auto 10% auto 100px 20em, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px 120px, 80px 80px) technique(negative-margin);
  }
}
.generate-grid-weird.gutless .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px) gutter(0);
}
@media (min-width: 700px) {
  .generate-grid-weird.gutless .ex1 {
    gg: columns(reset) rows(reset) gutter(0);
  }
  .generate-grid-weird.gutless .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid-weird.gutless .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px) gutter(0);
  }
}
@media (min-width: 1200px) {
  .generate-grid-weird.gutless .ex1 {
    gg: columns(0.25 0.25 auto 10% auto 100px 20em, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px 120px, 80px 80px) gutter(0);
  }
}
.generate-grid-weird.neg.gutless .ex1 {
  gg: columns(0.142857142857143 100px auto, auto 100px 0.142857142857143) rows(100px 100px 100px, 200px 200px 200px) gutter(0) technique(negative-margin);
}
@media (min-width: 700px) {
  .generate-grid-weird.neg.gutless .ex1 {
    gg: columns(reset) rows(reset) gutter(0) technique(negative-margin);
  }
  .generate-grid-weird.neg.gutless .ex1 > * {
    min-width: 50px;
  }
}
@media (min-width: 1000px) {
  .generate-grid-weird.neg.gutless .ex1 {
    gg: columns(0.333333333333333 auto 0.166666666666667) rows(75px 75px 75px) gutter(0) technique(negative-margin);
  }
}
@media (min-width: 1200px) {
  .generate-grid-weird.neg.gutless .ex1 {
    gg: columns(0.25 0.25 auto 10% auto 100px 20em, 0.5 0.5) rows(120px 120px 120px 120px 120px 120px 120px, 80px 80px) gutter(0) technique(negative-margin);
  }
}
