@ant-namespace ant-;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.5);
  padding: 15px;
}

.grid * {
  background: rgba(0, 0, 255, 0.15);
  margin-bottom: 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.grid > * {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.column-1 {
  width: ant-sizes(ratio(1.618, 2) ratio(1.618, 6) ratio(1.618, 4)) ant-gutter(15px) ant-pluck(1) ant-grid(negative-margin);
}

.column-2 {
  width: ant-sizes(ratio(1.618, 2) ratio(1.618, 6) ratio(1.618, 4)) ant-gutter(15px) ant-pluck(2) ant-grid(negative-margin);
}

.column-3 {
  width: ant-sizes(ratio(1.618, 2) ratio(1.618, 6) ratio(1.618, 4)) ant-gutter(15px) ant-pluck(3) ant-grid(negative-margin);
}
