div {
  $sizes: 1/4 1/2 1/4;
  $length: length($sizes);
  $gutter: 0;

  @for $i from 1 through $length {
    &:nth-child(#{$length}n + #{$i}) {
      width:
        sizes($sizes)
        pluck($i)
        gutter($gutter)
        technique(negative-margin)
      ;
    }
  }
}
