div {
  margin-right: 20px;
}

div:nth-child(5n + 1) {
  width: postcss-ant: How the hell did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}

div:nth-child(5n + 2) {
  width: postcss-ant: How the hell did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}

div:nth-child(5n + 3) {
  width: postcss-ant: How the hell did you get here? Please file a bug at https://github.com/corysimmons/postcss-ant/issues/new;
}

div:nth-child(5n + 4) {
  width: 100px;
}

div:nth-child(5n + 5) {
  width: 200px;
}

div:last-child {
  margin-right: 0;
}
