* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 255, 0.05);
  outline: 1px solid rgba(0, 0, 255, 0.1);
  outline-offset: -1px;
}

:root {
  padding: 30px;
  font-family: sans-serif;
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 255, 0.4);
}

section {
  display: flex;
  flex-wrap: wrap;
}

section > *:nth-child(n) {
  width: auto;
  height: auto;
  margin-top: 0;
  margin-left: 0;
}

section > *:nth-child(n + 3) {
  margin-top: 0;
}

section > *:nth-child(5n + 1),
section > *:nth-child(5n + 2) {
  width: calc(99.999999% * 1/2);
}

section > *:nth-child(5n + 3),
section > *:nth-child(5n + 4),
section > *:nth-child(5n + 5) {
  width: calc(99.999999% * 1/3);
}

section > *:nth-child(5n + 1),
section > *:nth-child(5n + 3) {
  margin-left: 0;
}

section > *:nth-child(5n + 1),
section > *:nth-child(5n + 2) {
  height: 100px;
}

section > *:nth-child(5n + 3),
section > *:nth-child(5n + 4),
section > *:nth-child(5n + 5) {
  height: 200px;
}
